// Put your custom SCSS variables here
$blue-500: #528287;
$pink-500: #eb7b91;
$secondary:#badfe5;
$offwhite: #dedede;
$cyan: #0197c2;
$terracotta: #a04051;
$gold: #f0bd00;
$darkblue: #162128;
